@font-face {
    font-family: 'Noto-Sans-KR';
    src: url('NotoSansKR-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto-Sans-KR-Black';
    src: url('NotoSansKR-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}